body, 
ul, 
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
}

.menu {
    width: 200px;
    background: #000;
    height: 100vh;
}

.main {
    flex: 1;
}

.menu-logo {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #f9f9f9;
    font-size: 20px;
}

.filter {
    display: flex;
    background: lightblue;
}

.filter-input {
    flex: 1;
}

.filter-button {
    background: lightblue;
}

.page-top {
    border-top: 1px #333 solid;
    height: 100px;
    background: #333;
}

.page-menu {
    margin: 35px 0 0 35px;
    width: 30px;
    height: 30px;
    background: url(./static/menu.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.map {
    width: 100%;
    height: calc(100vh - 100px);
}

.item {
    margin: 20px 0;
    padding-left: 20px;
    color: #999;
    cursor: pointer;
}

/* from spark https://github.com/tobiasahlin/SpinKit */
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }